<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.crank.gdt.ui.export.GREExport">
    <stringAttribute key="gre.export.gde_file" value="coffee_app.gde"/>
    <mapAttribute key="gre.export.packaging.attrs">
        <mapEntry key="windows_launcher.all_runtimes" value="D:\Crank\Storyboard_Engine\8.0-stable.202304090148\windows-x86_64-opengles_2.0-obj"/>
        <mapEntry key="windows_launcher.command_line" value=""/>
    </mapAttribute>
    <stringAttribute key="gre.export.packaging.name" value="package.windows_launcher"/>
    <stringAttribute key="gre.export.resource.configuration" value="coffee_app.gde-Exporter (1)"/>
    <stringAttribute key="gre.export.resource_inclusion_changed" value="Default"/>
    <stringAttribute key="gre.export.sb.project" value="coffee_app"/>
    <mapAttribute key="gre.export.transfer.attrs">
        <mapEntry key="filesystem.copy_new_only" value="false"/>
        <mapEntry key="filesystem.output_dir" value="D:\Job\Ametek\Crank(lang)\coffee_app"/>
        <mapEntry key="filesystem.use_home" value="true"/>
    </mapAttribute>
    <stringAttribute key="gre.export.transfer.name" value="transfer.filesystem"/>
    <stringAttribute key="gre.export.workspace_configuration" value="true"/>
</launchConfiguration>
